<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> MRI Registration </title>
        <link rel="icon" type="image/x-icon"r href="C:/Users/gkekj/Documents/flasktrainig/flask_dash_example/src/templates/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="{{ url_for('static', filename='upload.js') }}"></script>  
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> 
    </head>

    <body>
        <header>
            <figure class="image">
                <img src="C:/Users/gkekj/Documents/flasktrainig/flask_dash_example/src/templates/first_Logo.png" style="width: 55vw; max-width: 80px;">
            </figure>
        </header>

        <div class="file">
        <label class="file-label">
            <input type="file" id="folder-input" webkitdirectory directory multiple style="display:none;"/>
            <span class="file-cta">
            <span class="file-icon">
                <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
                Choose a file…
            </span>
            </span>
        </label>
        </div>

        <button class="button is-primary is-outlined" onclick="uploadFiles()">Upload</button>
        <div id="status"></div>
    </body>
</html>
